@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;
body {
  background-image: url(./img/vogeltjes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.app {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  min-height: 50px;
  padding: 2rem;
  display: grid;
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  gap: 2rem;
  margin-top: 5rem;

  &__gridL,
  &__gridR {
    min-height: 200px;
    background-color: #ffffff4c;
    border: 0.1px solid darkgrey;
    border-radius: 1rem;
    li {
      background-color: rgba(255, 213, 0, 0.856);
      margin: 1rem 2rem;
      padding: 2rem 2rem;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 1rem;
      transition: all 300ms;
      &:hover {
        transform: scale(1.02);
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  &__gridR {
    li {
      background-color: rgba(62, 56, 163, 0.856);
      a {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .app {
    &__gridL,
    &__gridR {
      li {
        font-size: 1.5rem;
        padding: 1.5rem 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .app {
    &__gridL,
    &__gridR {
      li {
        font-size: 1rem;
        padding: 1rem 1rem;
      }
    }
  }
}
